Requirements:

This repository is made up of several documents, but the submission for this project can be found on the .ipynb file. This is a Jupyter notebook and must be opened from the Jupyter web application, installation instructions can be foune here http://jupyter.org/install .